# Retrieving results for specific buildings

Now that we have a database with information on all buildings, dimensioned components and estimated material amounts for each building, we can start exploiting the database and writing queries to retrieve information for specific buildings. We can import data into Pandas data frames in Python, which allow for a broad range of analyses.

### Setup

In [ ]:
import psycopg as pg
import pandas as pd

In [ ]:
params='dbname=macrocomponents user=postgres password=mypassword'

# Retrieving results

The following function queries the PostgresQL database to retrieve generic information about a building:

In [ ]:
def properties_one_building(bbr_id):
    dic={'id_lokalId':[],'kommunekode':[],'byg026Opførelsesår':[],'byg021BygningensAnvendelse':[],'byg041BebyggetAreal':[], 'byg038SamletBygningsareal':[], 'byg054AntalEtager':[], 'byg033Tagdækningsmateriale':[], 'byg032YdervæggensMateriale':[]}
    index=[]
    
    SQL="""
    SELECT
    id_lokalId,
    kommunekode,
    byg026Opførelsesår,
    byg021BygningensAnvendelse,
    byg041BebyggetAreal,
    byg038SamletBygningsareal,
    byg054AntalEtager,
    byg033Tagdækningsmateriale,
    byg032YdervæggensMateriale
    FROM buildings
    WHERE id_lokalId=%s
    """
    
    try:
        conn = pg.connect(params, row_factory=pg.rows.dict_row)
        cur=conn.cursor()
        
        cur.execute(SQL,(bbr_id,))
        row=cur.fetchone()

        while row is not None:
            index.append(row['id_lokalid'])
            for k in dic.keys():
                dic[k].append(row[k.lower()])
                
            row=cur.fetchone()
            
        results=pd.DataFrame(dic,index)

        conn.commit()
        cur.close()
        
        return(results)

    except (Exception, pg.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

And similarly for all buildings:

In [ ]:
def properties_all_buildings():
    dic={'id_lokalId':[],'kommunekode':[],'byg026Opførelsesår':[],'byg021BygningensAnvendelse':[],'byg041BebyggetAreal':[], 'byg038SamletBygningsareal':[], 'byg054AntalEtager':[], 'byg033Tagdækningsmateriale':[], 'byg032YdervæggensMateriale':[]}
    index=[]
    
    SQL="""
    SELECT
    id_lokalId,
    kommunekode,
    byg026Opførelsesår,
    byg021BygningensAnvendelse,
    byg041BebyggetAreal,
    byg038SamletBygningsareal,
    byg054AntalEtager,
    byg033Tagdækningsmateriale,
    byg032YdervæggensMateriale
    FROM buildings
    """
    
    try:
        conn = pg.connect(params, row_factory=pg.rows.dict_row)
        cur=conn.cursor()
        
        cur.execute(SQL)
        row=cur.fetchone()     
              
        while row is not None:
            index.append(row['id_lokalid'])
            for k in dic.keys():
                dic[k].append(row[k.lower()])

            row=cur.fetchone()
            
        results=pd.DataFrame(dic,index)

        conn.commit()
        cur.close()
        
        return(results)

    except (Exception, pg.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [ ]:
properties_one_building('91146abd-87a7-44d7-b5d5-9939d04051d0')

The following function retrieves material amounts for each element in a particular building. The query converts all material amounts into kg.

In [ ]:
def results_one_building(bbr_id):
    dic={'bbr_id':[],'element':[],'product':[],'weight':[],'material_type':[]}
    
    SQL="""
    SELECT
    rma.bbr_id bbr_id,
    rma.element element,
    rma.product product,
    weight,
    material_type
    FROM results_material_amounts rma
    INNER JOIN products pr ON rma.product=pr.name,
    LATERAL (SELECT (CASE WHEN unit='KG' THEN amount WHEN unit='M3' THEN amount*pr.density ELSE NULL END) AS weight) lt
    WHERE rma.bbr_id=%s
    ORDER BY element  
    """
    
    try:
        conn = pg.connect(params, row_factory=pg.rows.dict_row)
        cur=conn.cursor()
        
        cur.execute(SQL,(bbr_id,))
        row=cur.fetchone()     
              
        while row is not None:
            for k in dic.keys():
                dic[k].append(row[k.lower()])

            row=cur.fetchone()
            
        results=pd.DataFrame(dic)
        
        conn.commit()
        cur.close()
        
        return(results)

    except (Exception, pg.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [ ]:
results_one_building('000b7b88-7c66-4440-9e93-23bee9aa631e')

Alternatively, we can also retrieve the total amounts of each type of material in the building. This function is a bit longer and more complex, because it aggregates rows from the "buildings_material_amounts" table into separate columns.

In [ ]:
def material_amounts_one_building(bbr_id):
    dic={'bbr_id':[],'clay':[],'cement_mortar':[],'concrete':[],'gypsum_plaster':[], 'metal':[],'wood':[],'wool':[],'glass':[],'other':[]}
    index=[]
    
    SQL1="""
    CREATE TEMP TABLE IF NOT EXISTS agg_material (
        bbr_id varchar(50) PRIMARY KEY,
        Clay real,
        Cement_mortar real,
        Concrete real,
        Aggregates real,
        Gypsum_plaster real,
        Metal real,
        Wood real,
        Wool real,
        Glass real,
        Other real);"""
    
    SQL2="""
    WITH t AS(
    SELECT
    rma.bbr_id,
    weight,
    material_type
    FROM results_material_amounts rma
    INNER JOIN products pr ON rma.product=pr.name,
    LATERAL (SELECT (CASE WHEN unit='KG' THEN amount WHEN unit='M3' THEN amount*pr.density ELSE NULL END) AS weight) lt
    WHERE rma.bbr_id=%s
    )

    SELECT
    bbr_id,
    SUM(weight) weightsum,
    material_type
    INTO TEMPORARY TABLE t2
    FROM t
    GROUP BY material_type, bbr_id;    
    """

    SQLclay="""
    INSERT INTO agg_material(bbr_id, Clay)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Clay'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Clay) = (EXCLUDED.bbr_id, EXCLUDED.Clay);
    """
    
    SQLcement="""
    INSERT INTO agg_material(bbr_id, Cement_mortar)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Cement_mortar' 
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Cement_mortar) = (EXCLUDED.bbr_id, EXCLUDED.Cement_mortar);
    """

    SQLconcrete="""
    INSERT INTO agg_material(bbr_id, Concrete)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Concrete'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Concrete) = (EXCLUDED.bbr_id, EXCLUDED.Concrete);
    """
    
    SQLaggregates="""
    INSERT INTO agg_material(bbr_id, Aggregates)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Aggregates'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Aggregates) = (EXCLUDED.bbr_id, EXCLUDED.Aggregates);
    """

    SQLgypsum="""
    INSERT INTO agg_material(bbr_id, Gypsum_plaster)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Gypsum_plaster'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Gypsum_plaster) = (EXCLUDED.bbr_id, EXCLUDED.Gypsum_plaster);
    """

    SQLmetal="""
    INSERT INTO agg_material(bbr_id, Metal)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Metal'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Metal) = (EXCLUDED.bbr_id, EXCLUDED.Metal);
    """

    SQLwood="""
    INSERT INTO agg_material(bbr_id, Wood)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Wood'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Wood) = (EXCLUDED.bbr_id, EXCLUDED.Wood);
    """

    SQLwool="""
    INSERT INTO agg_material(bbr_id, Wool)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Wool'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Wool) = (EXCLUDED.bbr_id, EXCLUDED.Wool);
    """
    
    SQLglass="""
    INSERT INTO agg_material(bbr_id, Glass)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Glass'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Glass) = (EXCLUDED.bbr_id, EXCLUDED.Glass);
    """

    SQLother="""
    INSERT INTO agg_material(bbr_id, Other)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Other'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Other) = (EXCLUDED.bbr_id, EXCLUDED.Other);
    """

    SQLselect="SELECT * FROM agg_material"
    
    try:
        conn = pg.connect(params, row_factory=pg.rows.dict_row)
        cur=conn.cursor()
        
        cur.execute(SQL1)
        cur.execute(SQL2,(bbr_id,))
        cur.execute(SQLclay)
        cur.execute(SQLcement)
        cur.execute(SQLconcrete)
        cur.execute(SQLaggregates)
        cur.execute(SQLgypsum)
        cur.execute(SQLmetal)
        cur.execute(SQLwood)
        cur.execute(SQLwool)
        cur.execute(SQLglass)
        cur.execute(SQLother)
        cur.execute(SQLselect)       

        row=cur.fetchone()
        
        while row is not None:
            index.append(row['bbr_id'])
            for k in dic.keys():
                dic[k].append(row[k.lower()])

            row=cur.fetchone()
            
        results=pd.DataFrame(dic,index)

        conn.commit()
        cur.close()
        
        return(results)

    except (Exception, pg.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [ ]:
material_amounts_one_building('0000cf84-358e-4585-9337-231f99aba172')

In [ ]:
def material_amounts_all():
    dic={'bbr_id':[],'clay':[],'cement_mortar':[],'concrete':[],'gypsum_plaster':[], 'metal':[],'wood':[],'wool':[],'other':[]}
    index=[]
    
    SQL1="""
    CREATE TEMP TABLE IF NOT EXISTS agg_material (
        bbr_id varchar(50) PRIMARY KEY,
        Clay real,
        Cement_mortar real,
        Concrete real,
        Aggregates real,
        Gypsum_plaster real,
        Metal real,
        Wood real,
        Wool real,
        Glass real,
        Other real);"""
    
    SQL2="""
    WITH t AS(
    SELECT
    rma.bbr_id,
    weight,
    material_type
    FROM results_material_amounts rma
    INNER JOIN products pr ON rma.product=pr.name,
    LATERAL (SELECT (CASE WHEN unit='KG' THEN amount WHEN unit='M3' THEN amount*pr.density ELSE NULL END) AS weight) lt
    )

    SELECT
    bbr_id,
    SUM(weight) weightsum,
    material_type
    INTO TEMPORARY TABLE t2
    FROM t
    GROUP BY material_type, bbr_id;    
    """

    SQLclay="""
    INSERT INTO agg_material(bbr_id, Clay)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Clay'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Clay) = (EXCLUDED.bbr_id, EXCLUDED.Clay);
    """
    
    SQLcement="""
    INSERT INTO agg_material(bbr_id, Cement_mortar)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Cement_mortar' 
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Cement_mortar) = (EXCLUDED.bbr_id, EXCLUDED.Cement_mortar);
    """

    SQLconcrete="""
    INSERT INTO agg_material(bbr_id, Concrete)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Concrete'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Concrete) = (EXCLUDED.bbr_id, EXCLUDED.Concrete);
    """
    
    SQLaggregates="""
    INSERT INTO agg_material(bbr_id, Aggregates)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Aggregates'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Aggregates) = (EXCLUDED.bbr_id, EXCLUDED.Aggregates);
    """

    SQLgypsum="""
    INSERT INTO agg_material(bbr_id, Gypsum_plaster)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Gypsum_plaster'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Gypsum_plaster) = (EXCLUDED.bbr_id, EXCLUDED.Gypsum_plaster);
    """

    SQLmetal="""
    INSERT INTO agg_material(bbr_id, Metal)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Metal'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Metal) = (EXCLUDED.bbr_id, EXCLUDED.Metal);
    """

    SQLwood="""
    INSERT INTO agg_material(bbr_id, Wood)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Wood'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Wood) = (EXCLUDED.bbr_id, EXCLUDED.Wood);
    """

    SQLwool="""
    INSERT INTO agg_material(bbr_id, Wool)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Wool'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Wool) = (EXCLUDED.bbr_id, EXCLUDED.Wool);
    """
    
    SQLglass="""
    INSERT INTO agg_material(bbr_id, Glass)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Glass'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Glass) = (EXCLUDED.bbr_id, EXCLUDED.Glass);
    """

    SQLother="""
    INSERT INTO agg_material(bbr_id, Other)
    SELECT 
    bbr_id,
    weightsum
    FROM t2
    WHERE material_type = 'Other'
    ON CONFLICT ON CONSTRAINT agg_material_pkey DO UPDATE SET (bbr_id, Other) = (EXCLUDED.bbr_id, EXCLUDED.Other);
    """

    SQLselect="SELECT * FROM agg_material"
    
    try:
        conn = pg.connect(params, row_factory=pg.rows.dict_row)
        cur=conn.cursor()
        
        cur.execute(SQL1)
        cur.execute(SQL2)
        cur.execute(SQLclay)
        cur.execute(SQLcement)
        cur.execute(SQLconcrete)
        cur.execute(SQLaggregates)
        cur.execute(SQLgypsum)
        cur.execute(SQLmetal)
        cur.execute(SQLwood)
        cur.execute(SQLwool)
        cur.execute(SQLglass)
        cur.execute(SQLother)
        cur.execute(SQLselect)       

        row=cur.fetchone()
        
        while row is not None:
            index.append(row['bbr_id'])
            for k in dic.keys():
                dic[k].append(row[k.lower()])

            row=cur.fetchone()

        results=pd.DataFrame(dic,index)
            
        conn.commit()
        cur.close()
        
        return(results)

    except (Exception, pg.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

In [ ]:
allresults=material_amounts_all()